/* -------------------------------------------------------------------------- */
/* TYPOGRAPHY
/* -------------------------------------------------------------------------- */

* {
  font-family: "Raleway", sans-serif;
}

/* -------------------------------------------------------------------------- */
/* THEME
/* -------------------------------------------------------------------------- */

.navbar {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.form-control:focus {
  border-color: #7accc8;
}

.btn-default {
  width: 200px;
  margin: auto;
  background-color: white;
}

.btn-default,
.btn-default:focus,
.btn-default:hover,
.btn-default:active,
.btn-default:hover,
.btn-default:active:focus,
.btn-default:active:hover {
  color: #7accc8;
}

.btn-default:focus,
.btn-default:active:focus,
.btn-default:active:hover {
  outline-color: #7accc8;
}

/* -------------------------------------------------------------------------- */
/* LAYOUT
/* -------------------------------------------------------------------------- */

body {
  overflow: hidden;
  margin: 0;
  background-repeat: no-repeat;
  background-size: 100%;
}

main {
  color: white;
}

section {
  text-align: center;
}

header {
  font-size: 32px;
  width: 100%;
  margin: 0;
  letter-spacing: 5px;
  color: white;
}

#overlay {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.78;
}

#map {
  width: 600px;
  height: 400px;
  margin: auto;
}
